.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	/*width: calc(100% -2em);*/
	vertical-align: top;
}

.input_field {
	opacity: 0;
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	/*width: 60%;*/
	border: none;
	border-radius: 0;
	background: transparent;
	font-weight: 400;
	font-size: 17px;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}

.input_field:focus {
	outline: none;
}

.input_label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	font-weight: bold;
	font-size: 70.25%;
}

.input_label-content {
	color: #696969;
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.input_BUT {
	overflow: hidden;
}

.input_fieldBUT {
	/*width: 60%;*/
	background: transparent;
	padding: 0.5em;
	margin-bottom: 2em;
	color: #f9f7f6;
	z-index: 100;
}

.input_labelBUT {
	width: 100%;
	position: absolute;
	text-align: left;
	padding: 0.5em 0;
	pointer-events: none;
	font-size: 1em;
}

.input_labelBUT::before, .input_labelBUT::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}

.input_labelBUT::before {
	height: 100%;
	background: #A8A8A8;
	top: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.input_labelBUT::after {
	height: 2px;
	background: #A8A8A8;
	top: 100%;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.input_label-content_BUT {
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s;
	transition: transform 0.2s, color 0.2s;
}

.input_fieldBUT:focus, .input--filled .input_fieldBUT {
	opacity: 1;
	-webkit-transition: opacity 0s 0.2s;
	transition: opacity 0s 0.2s;
}

.input_labelBUT::before, .input_labelBUT::after,
	.input_label-content_BUT, .input_fieldBUT:focus, .input--filled .input_fieldBUT
	{
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input_fieldBUT:focus+.input_labelBUT::before, .input--filled .input_labelBUT::before
	{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input_fieldBUT:focus+.input_labelBUT::after, .input--filled .input_labelBUT::after
	{
	opacity: 0;
}

.input_fieldBUT:focus+.input_labelBUT .input_label-content_BUT,
	.input--filled .input_labelBUT .input_labelBUT .input_label-content_BUT
	{
	color: #cbc4c6;
	-webkit-transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
	transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
}

/*鎸夐挳CSS*/
#Sub, #Reset {
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	background: #0066FF;
	box-shadow: 5px 3px 6px 1px #AAAAAA;
	color: #fff;
	font-size: 15px;
	border: none;
	height: 30px;
	width: 80px;
	transition: font-size 0.5s, height 0.5s, width 0.5s, margin-left 0.5s,
		margin-right 0.5s, background 0.5s;
	-webkit-transition: font-size 0.5s, height 0.5s, width 0.5s, margin-left
		0.5s, margin-right 0.5s, background 0.5s;
	-moz-transition: font-size 0.5s, height 0.5s, width 0.5s, margin-left
		0.5s, margin-right 0.5s, background 0.5s;
	-o-transition: font-size 0.5s, height 0.5s, width 0.5s, margin-left 0.5s,
		margin-right 0.5s, background 0.5s;
}

#Reset {
	margin-left: 150px;
}

#Sub:hover {
	width: 100px;
	margin-left: -10px;
	margin-right: -10px;
	font-size: 20px;
	background: #00CCFF;
	height: 40px;
}

#Reset:hover {
	width: 100px;
	margin-left: 140px;
	margin-right: -10px;
	font-size: 20px;
	background: #00CCFF;
	height: 40px;
}

/*澶嶉�夋CSS*/
.Select select {
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	line-height: 40px;
	appearance: none;
	font-size: 20px;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	color: #696969;
	font-weight: 400;
}

/*鐧婚檰鐣岄潰鏍囬css*/
#login_title {
	font-size: 25px;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	color: #696969;
	font-weight: 400;
}

.footer {
	margin-top: 2em;
	margin-right: 5em;
	text-align: center;
}

.footer p {
	font-size: 12px;
	font-family: Georgia;
	color: #fff;
	opacity: 0.5;
}