<html lang="zh-cn">
	<head>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="css/showresult/background.css">
		<link type="text/css" rel="stylesheet" href="css/showresult/frames.css">
		<link type="text/css" rel="stylesheet" href="css/showresult/components.css">
		<title></title>
	</head>
	<body>
		<div class="bottom">
			<div class="background">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="header"></div>
		<div class="mainbody">
			<c:forEach items="${options }" var="option">
				${option.name } -----  ${option.count }票<br>
			</c:forEach>
			<a href="<c:url value='/main.do'/>">返回列表</a>
		</div>
	</body>
</html>
